
.customizer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    min-width: 100vh;
    height: auto;
     background-color:#1F2936;
    width: 100vw;
    /* background-image: url('/background.jpg'); 
    background-size: auto; 
  background-position: top left; 
  background-repeat: repeat;  */
  }
  
.canvasContainer {
    height: 100vh;
  }
  
  .controlsContainer {
    background-color: rgb(31, 41, 55);
    color: white;
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto; 
    overflow-y: auto; /* Додає можливість прокрутки */
  -ms-overflow-style: none; /* Приховує скрол для IE */
  scrollbar-width: none; /* Приховує скрол для Firefox */
  }
  
 
  @media (max-width: 1023px) {
    
    .canvasContainer {
        height: 70vh;
      }
      .controlsContainer {
        overflow-y: visible;
      }
  }
  @media (max-width: 500px) {
    .customizer {
    }
  }
  @media (min-width: 1024px) {
    .customizer {
      flex-direction: row;
    }
    
    .canvasContainer {
      width: 70%;
    }
  
    .controlsContainer {
  width: 30%;
  height: 100vh;
  overflow-y: auto; 
  -ms-overflow-style: none; /* Приховує скрол для IE */
  scrollbar-width: none; /* Приховує скрол для Firefox */
  
}
  }