
.customizer {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
  z-index: 1;
  background-color:white; 
  width: 100vw;
    overflow-x:none;
}

  .mob{
    z-index: 100;
    width: 100vw;
  }
  .controlsContainer {
    background-color: white;
    color: white;
    
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto; 
    overflow-y: auto;
    overflow-x:scroll;
  }


@media (max-width: 1023px) {
  .canvasContainer {
    height: 60vh;
    width: 100vw;
  }
  .controlsContainer {
    overflow-y: visible;
    width: 100%;
    height: 100%;
  }
  .desk{
    display: none;
  }
  .mob{
    display:flex;
  }
}

@media (min-width: 1024px) {
  .customizer {
    flex-direction: row; /* Змінено на row для великих екранів */
  }

  .canvasContainer {
    width: 70vw;
    height: 100vh;
  }
  .desk{
    display: flex;
  }
  .mob{
    display: none;
  }
  .controlsContainer {
    width: 30vw;
    height: 90vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}